:root {
  --vert : #c6c09c;
  --jaune : #ffc98b;
  --orange: #ffb284;
  --rose: #e79796;
  --maron: #f5cec7;

  --cursivefont : 'Arizonia', cursive;
  --softfont : 'Arapey';
  --halffont : 'Berkshire Swash', cursive;

  --gradjr : linear-gradient(-90deg, #ffc98b, #e79796);
  --gradrj : linear-gradient(-90deg, #e79796, #ffc98b);
  --gradvj : linear-gradient(-90deg, #c6c09c, #ffc98b);
  --gradjv: linear-gradient(-90deg,#ffc98b,#c6c09c);
  --gradmj: linear-gradient(-90deg,#ffc98b,#f5cec7);
  --vertigradjv: linear-gradient(#ffc98b,#c6c09c);
  --vertigradvj: linear-gradient(#c6c6c6,#ffc98b);
  --vertigradrm: linear-gradient(#e79796, #f5cec7);
}

.container{
  width: 900px;
  height: 655px;
  background-color: var(--orange);
}

.flex{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
}

.flex > div {
  width:420px;
  height:150px;
  background-color: white;
  font-size: 45px;
  font-family: var(--halffont);
  text-align: end;
  line-height: 240px;
  background-position:center;
  background-size: cover;
  color:white;
  background-position:reverse;
}

.flex > div:hover{
  filter: grayscale(0%);
}

.ticket{
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia3.giphy.com%2Fmedia%2ForUBsDjlD2rzsz6pPK%2Fsource.gif&f=1&nofb=1);
  margin-top:15px;
}
.ticket2{
  background-image: url(https://media.tenor.com/images/1738ed0dbe0dfa68727fd823b49fbcab/tenor.gif);
}
.ticket3{
  background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F78.media.tumblr.com%2Ff261f0938bf432c19383d1fd632bef38%2Ftumblr_p5hfg3g4pj1tcvan1o1_500.gif&f=1&nofb=1) ;
}
.ticket4{
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F66.media.tumblr.com%2F42ed593000919430672150107348f25b%2Ftumblr_pk872boT2p1rhk4rn_540.gif&f=1&nofb=1) ;
}

.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--gradmj);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.tickettear{
  height:100%;
  width:30px;
  border-right:1px dashed var(--orange);
  position: relative;
  float: left;
}


.tickrondup{
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: var(--orange);
  margin-left: 20px;
  margin-top:-14px;
}

.tickronddown{
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: var(--orange);
  margin-left: 20px;
  margin-top: 138px;
}


.ticketborder{
  width:90px;
  position: relative;
  float:right;
  background: white;
  height:100%;
  writing-mode: vertical-rl;
  font-size:10px;
  color: grey;
  font-family: 'Courrier New';
  letter-spacing: 2px;
  line-height: 20px;
}

/***************************************** FINIS AVEC LE TICKET *********************************/

.flex2{
  display: flex;
  width:65px;
  flex-direction: column;
  position: absolute;
  margin-left:440px;
  margin-top:-580px;
  animation: flex2lift 4s infinite;
}

@keyframes flex2lift {
  0%, 100% {margin-top:-580px;}
  50% {margin-top: -600px;}
}

.staff {
  width:60px;
  height:320px;
  position: relative;
  border-top-left-radius: 15%;
  border-bottom-right-radius: 15%;
  border: 1px solid white;
  background-position: -90px;
}



.textstaff{
  opacity: 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: var(--halffont);
  text-align: center;
  padding-left:15px;
  padding-top: 60px;
  font-weight:lighter;
  font-size:25px;
  color: white;
  letter-spacing:-5px;
}

.staff:hover .textstaff {
  opacity: 1;
  transition:0.5s;
}


.fleche{
  width:18px;
  height:18px;
  margin-left:19px;
  margin-top:35px;
}


.iconmp{
  margin-top:10px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://zupimages.net/up/20/21/ded4.png);
  border:1px white solid;
}

.iconprofil{
  margin-top:10px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://zupimages.net/up/20/21/w2y7.png);
  border:1px white solid;
}

.iconprez{
  margin-top:10px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 8px 7px;
  background-image: url(https://zupimages.net/up/20/21/g6as.png);
  border:1px white solid;
}

.icon{
  font-family: var(--halffont);
  line-height: 55px;
  text-align: center;
  color:transparent;
}

.flex3{
  display: flex;
  width:65px;
  flex-direction: column;
  position: absolute;
  margin-left:520px;
  margin-top:-580px;
  animation: flex3lift 4s infinite;
}

@keyframes flex3lift {
  0%, 100% {margin-top:-580px;}
  50% {margin-top: -560px;}
}

.staff2 {
  margin-top:10px;
  width:60px;
  height:320px;
  position: relative;
  border: 1px white solid;
  border-top-right-radius: 15%;
  border-bottom-left-radius: 15%;
  background-position: -70px;
  background-size:cover;
}

.textstaff2{
  opacity:0;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: var(--halffont);
  text-align: center;
  padding-left:15px;
  padding-top: 30px;
  font-weight:lighter;
  font-size:25px;
  color: white;
  letter-spacing:-5px;
}

.staff2:hover .textstaff2 {
  opacity: 1;
  transition:0.5s;
}

.hvr-sweep-to-left-icon {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left-icon:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  background: var(--gradvj);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left-icon:hover, .hvr-sweep-to-left-icon:focus, .hvr-sweep-to-left-icon:active {
  color: white;
}
.hvr-sweep-to-left-icon:hover:before, .hvr-sweep-to-left-icon:focus:before, .hvr-sweep-to-left-icon:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.flechef2{
  width:18px;
  height:18px;
  margin-left:19px;
  margin-top:20px;
  rotate: 180deg;
}

/**************************************** STAFF FINIS **************************/

#app-cover
{
    position: absolute;
    width: 250px;
    height: 75px;
    margin-top:-560px;
    margin-left:635px;
}

#player
{
    position: relative;
    height: 100%;
    z-index: 3;
}

#player-track
{
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
    padding: 13px 22px 10px 50px;
    background-color: #fff7f7;
    border-radius: 5px 5px 0 0;
    transition: 0.3s ease top;
    z-index: 1;
}

#player-track.active
{
    top: -70px;
}

#track-name
{
    color: #c6c09c;
    font-family: var(--halffont);
    font-size: 15px;
    margin: 2px 0 9px 0;
}

#track-time
{
    height: 12px;
    margin-bottom: 3px;
    overflow: hidden;
}

#current-time
{
    float: left;
}

#track-length
{
    float: right;
}

#current-time, #track-length
{
    color: transparent;
    font-size: 11px;
    background-color: #ffb284;
    border-radius: 10px;
    transition: 0.3s ease all;
}

#track-time.active #current-time, #track-time.active #track-length
{
    color: #ffc98b;
    background-color: transparent;
}

#s-area, #seek-bar
{
    position: relative;
    height: 4px;
    border-radius: 4px;
}

#s-area
{
    background-color:#c6c09c;
    cursor: pointer;
}

#ins-time
{
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 12px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
	  display:none;
}

#s-hover
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

#ins-time, #s-hover
{
    background-color: #ffb284;
}

#seek-bar
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #ffb284;
    transition: 0.2s ease width;
    z-index: 1;
}

#player-content
{
    position: relative;
    height: 100%;
    background-color: #fff;
    border-radius: 15px 15px 0px 0px;
    z-index: 2;
}

#album-art
{
    position: absolute;
    top: -40px;
    width: 70px;
    height: 70px;
    margin-left: -20px;
    transform: rotateZ(0);
    transition: 0.3s ease all;
    box-shadow: 0 0 0 10px #fff;
    border-radius: 50%;
    overflow: hidden;
}

#album-art.active
{
    top: -30px;
    box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
}

#album-art:before
{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: -10px auto 0 auto;
    background-color: #d6dee7;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 2;
}

#album-art img
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}

#album-art img.active
{
    opacity: 1;
    z-index: 1;
}

#album-art.active img.active
{
    z-index: 1;
    animation: rotateAlbumArt 10s linear 0s infinite forwards;
}

@keyframes rotateAlbumArt
{
    0%{ transform: rotateZ(0); }
    100%{ transform: rotateZ(360deg); }
}

#buffer-box
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 13px;
    color: #1f1f1f;
    font-size: 13px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 6px;
    margin: -12px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.19);
    opacity: 0;
    z-index: 2;
}

#album-art img, #buffer-box
{
    transition: 0.1s linear all;
}

#album-art.buffering img
{
    opacity: 0.25;
}

#album-art.buffering img.active
{
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box
{
    opacity: 1;
}

#player-controls
{
    width: 215px;
    height: 100%;
    margin: 0 5px 0 151px;
    float: right;
    overflow: hidden;
}

.control
{
    width: 33.333%;
    float: left;
    padding: 12px 0;
}

.button
{
    width: 20px;
    height: 20px;
    padding: 15px;
    background-color: var(--vert);
    border-radius: 6px;
    cursor: pointer;
    font-size:18px;
}

.button i
{
    display: block;
    color: #ffb284;
    margin-left:-9px;
    font-size: 20px;
    text-align: center;
    line-height: 0;
}

.button, .button i
{
    transition: 0.2s ease all;
}

.button:hover
{
    background-color: #ffc98b;
}

.button:hover i
{
    color: #fff;
}

.laplaylist{
  color:white;
  text-align: center;
  font-family: var(--halffont);
  background: var(--vert);
  padding:5px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

/*************************************** FIN DE LA PLAYLIST ************************/
.card {
  background-color: var(--background);
  display: block;
  width: 200px;
  min-height: 200px;
  cursor: pointer;
  padding: 10px;
  margin-top: -410px;
  margin-left: 553px;
  border: 3px solid var(--primary);
  box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
        20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
        30px -30px 0 -3px var(--background), 30px -30px var(--orange2),
        40px -40px 0 -3px var(--background), 40px -40px var(--red);
}

.card:hover {
  animation: shadow-wave 1s ease infinite;
}


@keyframes shadow-wave {
  0% {
    border: 3px solid var(--primary);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
      20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
      30px -30px 0 -3px var(--background), 30px -30px var(--orange2),
      40px -40px 0 -3px var(--background), 40px -40px var(--red);
  }
  20% {
    border: 3px solid var(--red);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--primary),
      20px -20px 0 -3px var(--background), 20px -20px var(--green),
      30px -30px 0 -3px var(--background), 30px -30px var(--yellow),
      40px -40px 0 -3px var(--background), 40px -40px var(--orange2);
  }
  40% {
    border: 3px solid var(--orange2);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--red),
      20px -20px 0 -3px var(--background), 20px -20px var(--primary),
      30px -30px 0 -3px var(--background), 30px -30px var(--green),
      40px -40px 0 -3px var(--background), 40px -40px var(--yellow);
  }
  60% {
    border: 3px solid var(--yellow);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--orange2),
      20px -20px 0 -3px var(--background), 20px -20px var(--red),
      30px -30px 0 -3px var(--background), 30px -30px var(--primary),
      40px -40px 0 -3px var(--background), 40px -40px var(--green);
  }
  80% {
    border: 3px solid var(--green);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--yellow),
      20px -20px 0 -3px var(--background), 20px -20px var(--orange2),
      30px -30px 0 -3px var(--background), 30px -30px var(--red),
      40px -40px 0 -3px var(--background), 40px -40px var(--primary);
  }
  100% {
    border: 3px solid var(--primary);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
      20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
      30px -30px 0 -3px var(--background), 30px -30px var(--orange2),
      40px -40px 0 -3px var(--background), 40px -40px var(--red);
  }
  
}

:root {
  --primary: #22D2A0;
  --secondary: #192824;
  --background: #ffb284;
  --green: #1FC11B;
  --yellow: #FFD913;
  --orange2: #FF9C55;
  --red: #FF5555;
} 

.card p {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  color: white;
  font-family: "Archivo Black", "Archivo", sans-serif;
}

.card h2 {
  font-size: 14px;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  color:white;
}

/******************************************* DEBUT DU POLAROID ************************/
.polaroid{
  display:flex;
  flex-direction: vertical;
  flex-wrap:nowrap;
  margin-left:600px;
  margin-top: 15px;
  gap:-2px;
}

.polaroid > div {
  width:70px;
  height:80px;
  transition:0.2s;
  text-align:center;
  text-transform:uppercase;
  color:white;
  line-height:10px;
  font-family: 'Arial';
  font-size:9px;
  border:1px white solid;
}

.polaroid > div:hover{
  transform:scale(120%);
}

.poli{
  margin-top:5px;
  width:60px;
  border:1px solid white;
}

.pol1{
  background: var(--gradjv);
  transform: rotate(-6deg);
}

.pol2{
  background: var(--vertigradrm);
  transform: rotate(7deg);
}

.pol3{
  background: var(--gradrj);
}

.pol4{
  background: var(--vertigradjv);
  transform: rotate(-10deg);
}

/*************************** MSG DEFILANT **************/

.msgdef{
  width:230px;
  height:85px;
  background: var(--gradjv);
  margin-left:592px;
  border-left: 60px white solid;
  font-family: var(--halffont);
  text-align:center;
  font-size:65px;
  font-weight: bolder;
  font-style: italic;
  color:var(--orange);
  text-shadow: white 1px 1px 0px;
  line-height:1.1;
}